@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Calculator.css */

.calculator {
  width: 320px;
  min-height: 540px;
  background-color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", serif;
}

.display {
  height: 100px;
  background-color: black;
  color: white;
  font-size: 3rem;
  text-align: right;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  height: 70px;
  font-size: 1.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10000px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}

.btn:active {
  background-color: #555;
}

.btn.gray {
  background-color: #a5a5a5;
  color: black;
}

.btn.orange {
  background-color: #ff9500;
  color: white;
}

.btn.wide {
  grid-column: span 2;
}
